/* light blue */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --lightBlue: #2b98f0;
    --lightGrey: #f5f5f5;
    --bcg:#a3afb9;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
}
#header{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
nav{
    flex: 0 0 auto;
}
#banner{
    flex:1 0 auto;
}
nav ul{
    list-style-type: none;
}
nav ul li a{
    display: block;
    color: var(--lightBlue);
    background: transparent;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    transition: color 1s ease, background 1s ease, padding 1s ease ;
    -webkit-transition: color 1s ease, background 1s ease, padding 1s ease ;
    -moz-transition: color 1s ease, background 1s ease, padding 1s ease ;
    -ms-transition: color 1s ease, background 1s ease, padding 1s ease ;
    -o-transition: color 1s ease, background 1s ease, padding 1s ease ;
}

nav ul li a:hover{
    color: var(--lightGrey);
    padding-left: 60px;

    background: var(--lightBlue);
}

#nav-top{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 10px;
}
#nav-top h3{
    font-size: 30px;
    padding: 5px;
    color: var(--lightBlue);
    border: 3px solid;
    transition: color 2s ease, background 2s ease;
    -webkit-transition: color 2s ease, background 2s ease;
    -moz-transition: color 2s ease, background 2s ease;
    -ms-transition: color 2s ease, background 2s ease;
    -o-transition: color 2s ease, background 2s ease;
}
#nav-top h3:hover{
    background: var(--lightBlue);
    color: var(--lightGrey);
}
#menu-btn{
    padding: 5px;
    border: var(--lightBlue) 2px solid;
    cursor: pointer;
    align-self: center;
}
.bar1,
.bar2,
.bar3{
    height: 5px;
    width: 35px;
    background: var(--lightBlue);
    margin: 5px 0;
    transition: transform 1s ease;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -ms-transition: transform 1s ease;
    -o-transition: transform 1s ease;
}
.turn .bar1{
    transform: rotate(-45deg) translate(-7px, 6px);
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    -moz-transform: rotate(-45deg) translate(-7px, 6px);
    -ms-transform: rotate(-45deg) translate(-7px, 6px);
    -o-transform: rotate(-45deg) translate(-7px, 6px);
}
.turn .bar2{
    opacity: 0;
}
.turn .bar3{
   transform: rotate(45deg) translate(-7px, -8px);
   -webkit-transform: rotate(45deg) translate(-7px, -8px);
   -moz-transform: rotate(45deg) translate(-7px, -8px);
   -ms-transform: rotate(45deg) translate(-7px, -8px);
   -o-transform: rotate(45deg) translate(-7px, -8px);
}
@media screen and (min-width: 690px){
    nav{
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        padding: 0 20px;
    }
    #menu-btn{
        display: none;
    }
    nav ul{
        flex: 1 1 auto;
        display: flex!important;
        /* important */
        flex-wrap: wrap;
    }
    nav ul li{
        flex: 1 0 120px;
    }
    nav ul .icon{
        flex:0 0 20px
    }
    nav ul li .link-icon{
        color: var(--lightGrey);
        background: var(--lightBlue);
    }
    nav ul li .link-icon:hover{
        color: var(--lightBlue);
        background: #192733;
    }
    nav ul a{
        text-align: center;
    }
    nav ul a:hover{
        padding: 10px!important;
    }
    #nav-top{
        padding: 5px;
    }
}
/*#################### BANNER ######################  */
#banner{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.4)), 
    url(images/banner-img.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner-box{
    color: var(--lightGrey);
    text-align: center;
}
#banner-title{
    text-transform: capitalize;
    font-size: 60px;
}
.banner-underline{
    width: 300px;
    margin: 10px auto;
    border: var(--lightBlue) solid 3px;
}
.banner-subtitle{
    margin: 20px 0 40px 0;
    text-transform: capitalize;
    font-size: 25px;
}
#banner-box a{
    display: inline-block;
    padding: 10px;
    font-size: 40px;
    text-decoration: none;
    color: var(--lightGrey);
    background: var(--lightBlue);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: var(--lightGrey) 3px solid;
    transition: background 3s ease, border 0.5s ease;
    -webkit-transition: background 3s ease, border 0.5s ease;
    -moz-transition: background 3s ease, border 0.5s ease;
    -ms-transition: background 3s ease, border 0.5s ease;
    -o-transition: background 3s ease, border 0.5s ease;
}
#banner-box a:hover{
    background: transparent;
    border: 3px solid var(--lightBlue);
    color: var(--lightBlue);
}
/* title */
.title{
    margin: 10px 0 40px 0;
    cursor: pointer;
}
.title-text{
    font-size: 60px;
    text-transform: capitalize;
    color: #2a2f33;
}
.title-underline{
    width: 50px;
    border: var(--lightBlue) 3px solid;
    transition: width 4s ease, border 4s ease;
    -webkit-transition: width 4s ease, border 4s ease;
    -moz-transition: width 4s ease, border 4s ease;
    -ms-transition: width 4s ease, border 4s ease;
    -o-transition: width 4s ease, border 4s ease;
}
.title:hover .title-underline{
    width: 200px;
    border: 3px solid rgb(151, 151, 151);
}
/* end of title */
/* ################ sills section ##################### */
#skills{
    padding: 40px;
}
.skill{
    text-align: center;
    margin: 20px 0;
}
.skill .fa{
    color: var(--lightBlue);
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 60px;
    transition: transform 0.5s ease-in,background 0.5s ease,color 0.5s ease;
    -webkit-transition: transform 0.5s ease-in,background 0.5s ease,color 0.5s ease;
    -moz-transition: transform 0.5s ease-in,background 0.5s ease,color 0.5s ease;
    -ms-transition: transform 0.5s ease-in,background 0.5s ease,color 0.5s ease;
    -o-transition: transform 0.5s ease-in,background 0.5s ease,color 0.5s ease;
}
.skill .fa:hover{
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    background: var(--lightBlue);
    color: var(--lightGrey);
}
.skill h3{
    margin: 10px 0 15px 0;
    text-transform: capitalize;
    font-size: 30px;
    color: var(--lightBlue);
}
.skill p {
    line-height: 1.5em;
    width: 75%;
    margin: 0 auto;
}
/* ################ end of skills section ############ */



@media screen and (min-width:576px){
    .skills-center{
        max-width: 90vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .skill{
        flex: 0 1 calc(50% - 2em);
    }
}
@media screen and (min-width:992px){
    
    .skill{
        flex: 0 1 calc(33.33333% - 2em);
    }
}
/* ####################### about section ###################### */
#about{
    padding: 40px;
    background: #a3afb9;
}
#about-text, #about-video{
    padding: 40px;
}
#about-text h2{
    text-transform: capitalize;
    font-size: 35px;
}
#about-text p {
    margin: 25px 0;
}
#about-text a{
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--lightGrey);
    border: var(--lightBlue) 2px solid;
    background: var(--lightBlue);
    transition: background 0.5s ease, border 0.5s ease;
    -webkit-transition: background 0.5s ease, border 0.5s ease;
    -moz-transition: background 0.5s ease, border 0.5s ease;
    -ms-transition: background 0.5s ease, border 0.5s ease;
    -o-transition: background 0.5s ease, border 0.5s ease;
}
#about-text a:hover{
    background: transparent;
    border: var(--lightGrey) 2px solid;
    color: var(--lightBlue);
}
/* ############### end of about section ###################### */

/* responsive about */
@media screen and (min-width:776px){
    #about{
        display: flex;
    }
    #about-text{
        min-height: 40vh;
        flex: 0 0 60%;
    }
    #about-video{
        min-height: 40vh;
        flex: 0 0 40%;
    }
}
/* end of responsive about */

/* services section */
#services{
    padding: 40px;
}
.service{
    margin: 30px 0;
    display: flex;
}
.service-icon .fa, 
.service-icon .fab{
    font-size: 60px;
    color: var(--lightBlue);
    margin-right: 20px;
}
.service-subtitle{
    text-transform: capitalize;
    color: var(--lightBlue);
    font-size: 20px;
}
.service-info{
    margin-top: 10px;
    line-height: 1.5;
}
.service:hover .fa,
.service:hover .fab,
.service:hover .service-subtitle {
    color: rgba(0,0,0,0.8);
}
.service:hover .service-info{
    color: rgb(147,147,147);
}

@media screen and (min-width:576px){
    .services-center{
        /* max-width: 90vw;
        margin: 0 auto; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .service{
        flex: 0 0 calc(50% - 1em);
    }
}
@media screen and (min-width:764px){
    
    .service{
        flex: 0 0 calc(33.33333% - 2em);
    }
}
@media screen and (min-width:1064px){
    
    .service{
        flex: 0 0 calc(33.3333333% - 2em);
        margin: 75px 0;
    }
}


/* end of services section */

/* ############## portfolio ############### */
#portfolio{
    padding: 40px;
    background: var(--bcg);
}
.work{
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7));
    max-height: 350px;  
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px 0;
    overflow: hidden;
    /* img overlay */
}

#portfolio img{
    display: block;
    width: 100%;
    min-height: 300px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 2s ease;
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    -ms-transition: opacity 2s ease;
    -o-transition: opacity 2s ease;
}

#portfolio img:hover{
  opacity: 0.4;  
}

.image-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin-bottom: -100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: rgb(147, 147, 147);
    transition: margin 2s ease;
    -webkit-transition: margin 2s ease;
    -moz-transition: margin 2s ease;
    -ms-transition: margin 2s ease;
    -o-transition: margin 2s ease;
}
.work:hover .image-overlay{
    margin-bottom: 0;
}
.image-text h3{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--lightGrey);
}
.image-overlay .fa{
    font-size: 30px;
    color: var(--lightBlue);
    padding: 10px;
    background: var(--lightGrey);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: transform 2s ease,background 2s ease;
    -webkit-transition: transform 2s ease,background 2s ease;
    -moz-transition: transform 2s ease,background 2s ease;
    -ms-transition: transform 2s ease,background 2s ease;
    -o-transition: transform 2s ease,background 2s ease;
}
.image-overlay .fa:hover{
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    background: var(--bcg);
}
.section-btn{
    text-align: center;
    margin: 20px 0 10px 0;
}
.section-btn a{
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    font-size: 30px;
    color: var(--lightGrey);
    background: var(--lightBlue);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: background 2s ease,color 2s ease;
    -webkit-transition: background 2s ease,color 2s ease;
    -moz-transition: background 2s ease,color 2s ease;
    -ms-transition: background 2s ease,color 2s ease;
    -o-transition: background 2s ease,color 2s ease;
}
.section-btn a:hover{
    color: var(--lightBlue);
    text-shadow: 1px 1px  #000;
    background: transparent;
    font-weight: bolder;
}
.section-btn .fa{
    font-size: 40px;
    margin-right: 10px;
}
/* portfolio responsive */
@media screen and (min-width:576px){
    .portfolio-center{
        /* max-width: 90vw;
        margin: 0 auto; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
     .work{
        flex: 0 0 calc(50% - 1.2em);
    }
}
@media screen and (min-width:992px){
    
    .work{
        flex: 0 0 calc(33.33333% - 1.2em);
    }
}


/* end of portfolio responsive */
/* ############## end of portfolio ############### */

/* ############### numbers section ############### */
#numbers{
    padding: 40px;
}
.number{
    margin: 20px 0;
    text-align: center;
    transition: transform 2s ease;
    -webkit-transition: transform 2s ease;
    -moz-transition: transform 2s ease;
    -ms-transition: transform 2s ease;
    -o-transition: transform 2s ease;
}
.number:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    cursor: pointer;
}
.number .fa{
    font-size: 60px;
    color: var(--lightBlue);
}
.number h2{
    font-size: 40px;
    margin: 10px 0;
    font-weight: 900;
}
.number h5{
    font-size: 23px;
    color: #a3afb9;
}
/* number responsive */
@media screen and (min-width:576px){
    .numbers-center{
        min-width: 90vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
     .number{
        flex: 0 0 calc(50% - 1.2em);
    }
}
@media screen and (min-width:992px){
    
    .number{
        flex: 0 0 calc(25% - 1.2em);
    }
}
/* end of number responsive */

/* ############### end of numbers section ############### */

/* ###################### team section ########################## */
#team{
    padding: 40px;
    background: var(--bcg);
}
.team-member{
    background: #f5f5f5;
    margin: 20px 0;
}
.team-member img{
    display: block;
    width: 100%;
    max-height: 300px;
}
.img-footer{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-info h3{
    text-transform: capitalize;
    color: var(--lightBlue);
    font-size: 40px;
}
.footer-info h5{
    text-transform: capitalize;
    color: var(--bcg);
    font-size: 20px;
    margin: 10px 0;
}


.social-icons .fab{
    color: #192733;
    margin: 0 5px;
}
.img-footer .fas{
    font-size: 40px;
    color: #2b98f0;
    opacity: 0;
    align-self: center;
    transition: transform 2s ease,opacity 2s ease;
    -webkit-transition: transform 2s ease,opacity 2s ease;
    -moz-transition: transform 2s ease,opacity 2s ease;
    -ms-transition: transform 2s ease,opacity 2s ease;
    -o-transition: transform 2s ease,opacity 2s ease;
}
.img-footer .fas:hover{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.team-member:hover .img-footer .fas{
    opacity: 1;
}
@media screen and (min-width:576px){
    #team-center{
        min-width: 90vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .team-member{
        flex: 0 0 calc(50% - 2em);
    }
}
@media screen and (min-width:776px){
    .team-member{
        flex: 0 0 calc(33.333333% - 2em);
    }
}
@media screen and (min-width:1076px){
    .team-member{
        flex: 0 0 calc(25% - 2em);
    }
}
/* ###################### end of team section ########################## */


/* customers section */
#customers{
    padding: 40px;
    background: #192733;
}
.customer{
    color: var(--lightGrey);
    text-align: center;
    margin: 20px 0;
}
.customer img{
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    max-width: 200px;
}
.customer h3{
    margin: 10px 0;
    text-transform: capitalize;
    color: var(--lightBlue);
}
.customer h5{
    text-transform: uppercase;
    color: #a3afb9;
}
.customer p{
    line-height: 1.5;
    width: 75%;
    margin: 10px auto;
}
@media screen and (min-width:576px){
    .customers-center{
        /* min-width: 90vw;
        margin: 0 auto; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .customer{
        flex: 0 0 calc(100% - 2em);
    }
}
@media screen and (min-width:776px){
    .customer{
        flex: 0 0 calc(33.333333% - 2em);
    }
}
/* end of customers section */

/* ######################### CONTACT US ############################ */
#contact{
    padding: 40px;
    background: var(--lightBlue);
    color: var(--lightGrey);
}

#contact .title-underline{
    border-color: var(--bcg);
}
.item-info{
    display: flex;
    margin: 25px 0;
    font-size: 30px;
}
.item-info .fa{
    margin-right: 20px;
}
form input{
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 25px;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 4px solid #f5f5f5;
}
form input::placeholder{
    color:#f5f5f5;
}

#customer-info a{
    display: block;
    padding: 20px;
    margin-top: 30px;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    color: #f5f5f5;
    background: #192733;
}

#customer-info a:hover{
    background: var(--bcg);
    color: #192733;
}
/* @media screen and (min-width:776px){
   .contact-center{
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
   }
   #company-info{
       flex: 0 0 calc(50% - 2em);
   }
   #customer-info{
    flex:0 0 calc(50% - 2em);
   }
} */

@media screen and (min-width:776px){
    .contact-center{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1em;
    }
}






















